<header class="site-header">
    <div class="cluster">
        <a href="/" class="logo">
            {% render 'partials/svg/logo-web-header.svg' %}
        </a>
        <nav>
            <ul class="cluster">
                {% for entry in navigation.header %}
                    <li>
                        {% if entry.is_cta %}
                            <a href="{{ entry.href }}" target="_blank" class="button-link" data-theme="gradient">
                                {{- entry.title -}}
                            </a>
                        {% else %}
                            <a href="{{ entry.href }}" class="nav-link">{{ entry.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
