<section aria-labelledby="{{ module.heading | slugify }}" class="amenities-list">
    <div class="content-wrapper">
        <h2 id="{{ module.heading | slugify }}" class="visually-hidden">{{ module.heading }}</h2>
        <p>properties here</p>
    </div>
</section>
