{% layout 'layouts/base.liquid' %}

{% block main %}
<main class="interior">
    {% for section in pages[pageId] %}
        {%- capture path -%} partials/modules/{{ section.type }}.liquid {%- endcapture -%}
        {% render path, module: section %}
    {% endfor %}
</main>
{% endblock %}
